@use '../../../styles/variables.scss' as *;

.slider {
  box-sizing: border-box;
  width: 100%;
  height: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;

  padding: 0 8px;
}

.trackWrapper {
  position: relative;
  width: 100%;

  padding: 0 8px;
}

.track {
  position: relative;
  width: 100%;
  height: 4px;

  background-color: $grey-300;
  border-radius: $border-radius;
}

.filledTrack {
  position: absolute;
  top: 0;
  left: 0;
  height: 4px;

  background-color: $primary-main;
  border-radius: $border-radius;
}

.thumb {
  position: absolute;
  top: 50%;
  width: 16px;
  height: 16px;
  transform: translate(-50%, -50%);

  background-color: $primary-main;
  border: 2px solid $white;
  border-radius: 50%;

  cursor: grab;
  transition: background-color 0.2s ease, box-shadow 0.2s ease;

  &:hover {
    box-shadow: 0 0 0 7px rgba($primary-main, 0.14);
  }

  &:active {
    cursor: grabbing;
  }
}
