@use '../../../styles/variables.scss' as *;

.slider {
  box-sizing: border-box;
  height: 24px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
  // Increase horizontal padding to account for thumb overflow
  padding: 0 8px;
}

.trackWrapper {
  position: relative;
  width: 100%;
  // Add padding equal to half the thumb width on both sides
  padding: 0 8px;
}

.track {
  height: 4px;
  background-color: $grey-300;
  border-radius: $border-radius;
  position: relative;
  width: 100%;
}

.filledTrack {
  position: absolute;
  height: 4px;
  background-color: $primary-dark;
  border-radius: $border-radius;
  top: 0;
  left: 0;
}

.thumb {
  width: 16px;
  height: 16px;
  background-color: $primary-main;
  border: 2px solid $white;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  cursor: grab;
  transition: background-color 0.2s ease;

  &:hover {
    box-shadow: 0 0 0 7px rgba($primary-main, 0.14);
  }

  &:active {
    cursor: grabbing;
  }
}

.output {
  font-size: 14px;
  color: #444;
  text-align: center;
  margin-top: 4px;
}
